@font-face {
  font-family: frank ruhl libre;
  src: url(../fonts/frank_ruhl_libre.ttf);
}
@font-face {
  font-family: gan;
  src: url(../fonts/gan.ttf);
}
@font-face {
  font-family: heebo;
  src: url(../fonts/heebo.ttf);
}
@font-face {
  font-family: horeb;
  src: url(../fonts/horeb.ttf);
}
@font-face {
  font-family: macabi;
  src: url(../fonts/macabi.ttf);
}
@font-face {
  font-family: ozrad;
  src: url(../fonts/ozrad.ttf);
}
@font-face {
  font-family: rav samal;
  src: url(../fonts/rav_samal.otf);
}
@font-face {
  font-family: shmulick;
  src: url(../fonts/shmulick.ttf);
}
@font-face {
  font-family: yehuda;
  src: url(../fonts/yehuda.ttf);
}
