h1 {
  padding: 0;
}
h2 {
  width: 100%;
  margin: 0px;
  padding: 50px;
  box-sizing: border-box;
}
.section {
  box-sizing: border-box;
  width: 100%;
  min-height: 50vh;
  background-color: white;
  transition: background-color 500ms;
}
#first {
  height: fit-content;
  overflow: visible;
  position: relative;
}
#first .bg-image {
  position: absolute;
  width: 100vw;
  filter: opacity(0.3);
  z-index: 1;
}
#first .bg-image img {
  max-width: 100%;
  height: auto;
  display: none;
}
#first .front-text {
  color: rgb(0, 0, 75);
  font-family: suez one;
  font-size: 5vw;
  overflow: auto;
  padding: 10vh 10%;
  text-align: center;
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 2;
}
#first .front-text p {
  margin-bottom: 4vh;
}
#second {
  padding: 2vh 2%;
  height: auto;
  overflow: auto;
}
/* Slideshow container */
#second .slideshow-container {
  width: 96%;
  max-height: 75vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

/* Hide the images by default */
#second .mySlides {
  display: none;
  width: 100%;
  margin: auto;
  max-height: auto;
}
#second .mySlides img {
  max-width: 100%;
  margin: auto;
}
/* Next & previous buttons */
#second .prev,
#second .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px;
  transform: translate(-0px, -50%);
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 1.5em;
  transition: background-color 0.6s;
  user-select: none;
}

/* Position the "next button" to the left */
#second .next {
  left: 0;
  border-radius: 0 15px 15px 0;
  padding-right: 20px;
}
/* Position the "previos button" to the right */
#second .prev {
  right: 0;
  border-radius: 15px 0 0 15px;
  padding-left: 20px;
}
/* On hover, add a black background color with a little bit see-through */
#second .prev,
#second .next {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Number text (1/3 etc) */
#second .numbertext {
  color: white;
  box-shadow: 0px 0px 0px 5px white inset;
  border-radius: 15px;
  text-shadow: 3px 3px 3px rgb(0, 0, 75);
  font-size: 1.3em;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 2%;
  left: 2%;
  direction: ltr;
  text-align: right;
  font-family: "kalam", cursive;
}

/* The dots/bullets/indicators */
#second .dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#second .active,
#second .dot:hover {
  background-color: #3d3d3d;
}

/* Fading animation */
#second .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#second .more_images {
  display: block;
  margin: 20px auto;
  width: 210px;
  text-decoration: none;
  color: var(--color_2);
  background-color: var(--color_1);
  padding: 15px;
  font-size: 35px;
  font-family: rav samal;
  border-radius: 15px;
  transition: background-color 0.3s;
}
#second .more_images:hover {
  background-color: #0073b58e;
}
#fourth {
  overflow: auto;
  height: auto;
  padding: 0;
}
#fourth #text {
  width: 90%;
  margin: 0 auto;
  font-size: 3em;
  letter-spacing: 2px;
  font-weight: lighter;
  color: var(--color_2);
  box-sizing: border-box;
  font-family: shmulick;
  padding-top: 4vh;
  text-align: center;
}
#fourth #text p {
  font-weight: bold;
  display: inline;
  margin-block: 10px;
}
#fourth #text p i {
  transform: rotateZ(-90deg);
}
#fourth #text p:nth-child(odd) {
  color: rgb(0, 7, 37);
}
#fourth #text p:nth-child(1),
#fourth #text p:nth-child(2) {
  display: block;
  margin: 10px;
}
#fourth .video {
  width: 80%;
  margin: auto;
  box-sizing: border-box;
}
#fourth video {
  width: 100%;
  margin-block: 5vh;
}
#fourth video:focus {
  outline: none;
}
@media only screen and (min-width: 768px) {
  .section {
    min-height: 100vh;
  }
  #first {
    overflow: hidden;
    position: relative;
  }
  #first .bg-image img {
    display: block;
  }
  #first .front-text {
    float: left;
    font-size: 2.5vw;
    position: absolute;
    height: auto;
  }
  #first .front-text p {
    margin-bottom: 4vh;
  }
  /* *selector-parents* *:hover {
  border: 1px dashed red;
} */
  #second {
    padding: 5vh 5%;
  }
  /* Slideshow container */
  #second .slideshow-container {
    width: 80%;
    max-height: 75vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
  }

  /* Hide the images by default */
  #second .mySlides {
    display: none;
    width: 100%;
    margin: auto;
    max-height: auto;
  }
  #second .mySlides img {
    max-width: 100%;
    margin: auto;
  }
  /* Next & previous buttons */
  #second .prev,
  #second .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    font-size: 3em;
    transition: background-color 0.6s;
    user-select: none;
  }

  /* Position the "next button" to the left */
  #second .next {
    left: 0;
    border-radius: 0 15px 15px 0;
    padding-right: 20px;
  }
  /* Position the "previos button" to the right */
  #second .prev {
    right: 0;
    border-radius: 15px 0 0 15px;
    padding-left: 20px;
  }
  /* On hover, add a black background color with a little bit see-through */
  #second .prev:hover,
  #second .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  #second .numbertext {
    color: white;
    box-shadow: 0px 0px 0px 5px white inset;
    border-radius: 15px;
    text-shadow: 3px 3px 3px rgb(0, 0, 75);
    font-size: 3em;
    font-weight: bold;
    padding: 16px 24px;
    position: absolute;
    top: 2%;
    left: 2%;
    direction: ltr;
    text-align: right;
    font-family: "kalam", cursive;
  }

  /* The dots/bullets/indicators */
  #second .dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  #second .active,
  #second .dot:hover {
    background-color: #3d3d3d;
  }

  /* Fading animation */
  #second .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  #second .more_images {
    margin: 0;
    margin-left: 12.5%;
    float: left;
    padding: 15px;
    font-size: 2em;
  }
  #fourth #text {
    width: 25%;
    float: right;
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px;
    padding-top: 20vh;
    box-sizing: border-box;
  }
  #fourth #text p {
    margin: 5vh !important;
    font-weight: bold;
    display: block;
  }
  #fourth #text p i {
    text-indent: 8vw;
    transform: none;
  }
  #fourth #text p:nth-child(even) {
    text-indent: 16vw;
    text-align: left;
  }
  #fourth #text p:nth-child(odd) {
    text-indent: 8vw;
    text-align: right;
  }
  #fourth .video {
    width: 60%;
    float: left;
    margin: 0px;
    margin-left: 3%;
    box-sizing: border-box;
  }
  #fourth video {
    width: 100%;
    margin-block: 17.5vh;
    box-shadow: 0 0 20px black;
  }
  #fourth video:focus {
    outline: none;
  }
}
